@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@600&display=swap');

.background {
  --white: #ffffff;
  --soft-white: #f2f5f9;
  --dark-blue: #111729;
  --gray: #677489;

  background: var(--soft-white);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--white);
  border-radius: 12px;
  max-width: 418px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  margin: 0 24px;
}

.content {
  padding: 0 32px 24px;
  position: relative;
  z-index: 1;
}

.content::before {
  content: url('../images/white-overlay.svg');
  position: absolute;
  left: 0;
  top: -70px;
  z-index: -1;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: var(--dark-blue);
}

.description {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray);
}

.hero {
  width: 100%;
  object-fit: cover;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 4px solid var(--soft-white);
  margin-right: 12px;
}

.author {
  padding: 24px 32px;
  border-top: 1px solid var(--soft-white);
  display: flex;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--dark-blue);
}

.role {
  font-size: 12px;
  line-height: 1.3333;
  font-weight: 700;
  color: var(--gray);
}
