.countryContainer {
  flex: 1;
}

.countryTable {
  text-align: left;
  border-collapse: collapse;
  vertical-align: middle;
  width: 100%;
}

.tableHead {
  width: 100%;
  font-size: 12px;
  line-height: 0.75rem;
  font-weight: 500;
  color: var(--gray-200);
}

.tableHeader {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--gray-300);
}

.tableRow:first-child td {
  padding-top: 16px;
}

.tableRow:not(:last-child) td {
  padding-bottom: 24px;
}

.tableData {
  color: var(--gray-100);
  font-weight: 500;
  max-width: 190px;
}

.collapsed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableImg {
  width: 50px;
  height: 38px;
  object-fit: contain;
  border-radius: 4px;
  display: flex;
  margin-right: 12px;
}

.countryName {
  color: var(--gray-100);
  text-decoration: none;
  margin-right: 12px;
}

.countryName:hover {
  text-decoration: underline;
}

.notFound {
  flex: 1;
  color: var(--gray-200);
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  flex-wrap: wrap;
  max-width: 432px;
  margin: 24px auto 0;
}

.pageButton {
  outline: none;
  border: none;
  background: transparent;
  padding: 8px;
  border-radius: 4px;
  flex-basis: 32px;
  text-align: center;
  cursor: pointer;
  color: var(--gray-100);
}

.pageButton.active {
  color: var(--gray-400);
  background-color: var(--gray-100);
}

@media (max-width: 640px) {
  .tableHeaderRegion,
  .tableDataRegion {
    display: none;
  }
  .collapsed {
    max-width: 100px;
    padding-right: 8px;
  }
}

@media (max-width: 360px) {
  .tableHeaderArea,
  .tableDataArea {
    display: none;
  }
}
