.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.label {
  display: block;
  color: var(--label-color);
  font-size: 12px;
  line-height: 0.75rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.input {
  border: 2px solid var(--border-color);
  color: var(--font-color);
  font-family: var(--default-font);
  border-radius: 12px;
  font-size: 12px;
  line-height: 0.75rem;
  font-weight: 600;

  width: 100%;
  padding: 16px;
  background: transparent;
  outline: none;
}

.input::placeholder {
  color: var(--border-color);
}
