@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  font-family: 'Urbanist', sans-serif;
  color: #343a40;
  text-align: center;
  font-weight: 500;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-size: 42px;
  line-height: 1;
  margin-top: 32px;
}

.description {
  margin-top: 12px;
  font-size: 18px;
  line-height: 24px;
}

.link {
  font-weight: 700;
  color: #228be6;
}

.cards {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
